# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
*.egg-info/

# ipython/jupyter notebooks
# *.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# MacOS
*.DS_Store

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

# project-relevant
imgui.ini

# directories that should be ignored in general
# but can be excluded explicitly
tmp/
data/**
demos/

!data/mani_skill2_ycb/info_pick_v0.json
!data/mani_skill2_ycb/models/024_green_bowl/*
!data/mani_skill2_ycb/models/green_bowl/*
!data/acronym/
!data/acronym/*.py
