# core
numpy
scipy
gymnasium>=0.29.1
sapien
mplib==0.0.9
importlib_metadata<5; python_version < '3.8'
# basic
h5py
pyyaml
tqdm
# utilties
GitPython
tabulate
gdown>=4.6.0
# vision
transforms3d
opencv-python
imageio
imageio[ffmpeg]
trimesh
rtree
